name: Dev Build

on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      push:
        description: "Push to GHCR"
        type: boolean
        required: true
        default: true

permissions:
  contents: read
  packages: write

jobs:
  dev:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Clear space to remove unused folders
        run: |
          rm -rf /usr/share/dotnet
          rm -rf /opt/ghc
          rm -rf "/usr/local/share/boost"
          rm -rf "$AGENT_TOOLSDIRECTORY"

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set image name
        run: |
          echo "IMAGE_NAME=ghcr.io/${{ github.repository }}" >> $GITHUB_ENV

      - name: Build and push 5090 dev image
        uses: docker/bake-action@v5
        env:
          REGISTRY: ${{ env.IMAGE_NAME }}
        with:
          push: true
          files: ./docker-bake.hcl
          targets: |
            devpush5090

      - name: Clean up Docker build cache
        run: |
          docker builder prune -af --filter "until=1h"
          docker system prune -af --volumes

      - name: Build and push regular dev image
        uses: docker/bake-action@v5
        env:
          REGISTRY: ${{ env.IMAGE_NAME }}
        with:
          push: true
          files: ./docker-bake.hcl
          targets: |
            devpush
